<section class="phx-hero">
  <h1>Welcome to Sip Chat! 😎</h1>
</section>

<section class="row">
  <article class="column">
    <div>
      <h2>Who is online:</h2>
      <ul id="presence"></ul>
    </div>
    <h2>Messages:</h2>
    <div id="messages"></div>
    <h2>Type your message:</h2>
    <input id="chat-input" type="text"></input>
  </article>
</section>
